/* Custom navbar style */

.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

#header {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fafafa;
	color: #FF5A5F;
}

#footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}