/* Custom navbar style */

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

#header {
	width: 100%;
	padding: 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #fafafa;
	color: #FF5A5F;
	font-weight: 700;
	font-size: 1.5rem;
}

#header a {
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	text-decoration: none;
	color: #FF5A5F;
	margin: 0 1rem 0 0;
}


#footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit-btn {
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	background: #007A87;
	color: #fff;
	font-weight: 700;
	margin: 1rem 0;
	border: none;
}

.btn-add {
	padding: 0.2rem 0.8rem;
	border-radius: 1.5rem;
	background: #007A87;
	color: #fff;
	border: none;
	cursor: pointer;
}

.btn-delete {
	padding: 0.2rem 0.8rem;
	border-radius: 1.5rem;
	background: #FF5A5F;
	color: #fff;
	border: none;
	cursor: pointer;
	margin: 0 1rem;
}

.btn-delete:hover {
	background: #fff;
	color: #FF5A5F;
}

#header a:hover {
	background: #FF5A5F;
	color: #fff;
}

.submit-btn:hover, .btn-add:hover {
	background: #fff;
	color: #007A87;
}

.friend-list-container {
	width: 80%;
}


