{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}