<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    body {
      background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
      color: #fafafa;
      max-width: 100%;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      width: 100%;
      display flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav {
      margin: 0 0 2rem 0;
    }

    table, th, td {
        border: 1px solid #dedede;
    }

    .button {
      padding: 0.5rem 1rem;
      margin: 1rem 0;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      border: 0;
      border-radius: 0.2rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #fafafa;
    }

    .status {
      font-size: 1.5rem;
    }

    td, th {
      padding: 1rem;
      text-align: center;
      vertical-align: center;
      background-color: lightgray;
      color: #777777;
    }

    table {
      border-radius: 0.2rem;
    }

    .subject{
        font-size: 18px;
        font-family: "Roboto";
        color: #393939;
        font-weight: 700;
    }

    .value{
        font-size: 18px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #333333;
        font-weight: 300;
    }

    .toDo {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

    }

    @media screen and (max-width: 64em){
      .toDo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      table {
        margin: 2rem;
      }
    }

    h3 {
      margin: 0 0 1rem 0;
    }

</style>
<body style="background-color: lightgray">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
